* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    max-width: 1180px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

button {
    border: none;
    background: unset;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    display: flex;
    padding: 50px 50px;
    flex-direction: column;
    background: cadetblue;
    box-shadow: 1px 1px 10px 10px cadetblue;
    gap: 15px;
    border-radius: 30px;
}


.name {
    margin-left: auto;
    font-size: 22px;
    color: white;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.coment {
    font-size: 20px;
    color: white;
}

.email {
    display: block;
    text-align: right;
    width: 100%;
    color: white;
}