* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  border: none;
  background: unset;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mt-5 {
  margin-top: 50px;
}

.fd-col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: coral;
}

.count {
  font-size: 50px;
  line-height: 130%;
  font-weight: 500;
}

.btn-group {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-top: 30px;
}

.btn {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
  cursor: pointer;
}

.btn-green {
  background-color: green;
}

.btn-yellow {
  background-color: #ff4948;
}

.btn-red {
  background-color: red;
}